<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        
		<h1>Aprendiendo Python</h1> 
		<h2>Utilizando Django</h2> 
		<h3>¡Ahora puedes divertirte un poco y tratar de personalizar tu plantilla! Aquí hay algunas etiquetas útiles para eso:</h3>
		<h6>Holaaaaa!</h6>
		<em>Aquí hay un ejemplo de una plantilla completa:</em>
		<strong>texto</strong> 
		<br />
		<a href="http://djangogirls.org">link</a>
		<ul><li>primer elemento</li><li>segundo elemento</li></ul>
		<p>Hi there!</p>
        <p>It works!</p>
		<div></div>

		<div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>



    </body>
</html>